/* declare a minimum width for large screens */

@media only screen and (min-device-width: 495px) {

	body {min-width: 495px}/**/
	
}

/* shrink header/navigation text for medium/narrow screens */

@media only screen and (max-width: 750px) {
	
	#slogan {font-size: 1.8em}
	.navButton {font-size: 1em}
	
}

/* remove contact-page symbols from narrow screens */

@media only screen and (max-width: 530px) {

	.symbol {display: none;}
	.pageBody {margin: 20px;}
	
}

/* collapse navigation pane for narrow screens */

@media screen and (max-width: 490px) {

	#navicon {
		display: block;
		width: 100%;
		margin: 0;
	}
	
	a.navButton {
		display: none;
		width: 100%;
		border-top: 1px solid palegoldenrod;
		margin: 0;
	}
	
	hr {margin: 0}
	
	/* remove slogan from narrow screens */
	#slogan {
		display: none;
	}
	
	/* enable word wrap for contact-page links */
	.contactLink h3 {
		width: auto;
		word-break: break-word;
	}
	
}

/* remove home page button images from narrow screens */

@media screen and (max-width: 390px) {
	
	#audioButton {
		background-image: none;
		text-align: center;
		padding-right: 0px;
	}
	
	#bookButton {
		background-image: radial-gradient(circle at 0%, #d9a616, #dfb336 40%, white);
		background-size: cover;
		background-position: center;
		text-align: center;
		padding-left: 0;
	}
}

/* condense sound page audio controls for narrow screens */

@media screen and (max-width: 310px) {
	
	audio {width: 260px;}
}